{% extends "layout.html" %}

{% block content %}
<div>
    <h1>Todo List:</h1>
    {{ pagination.info }}
    <div class = 'row'></div>
    {{ pagination.links }}
    <table class="table table-striped">

        <th></th><th># Task</th><th>User</th><th>Description</th><th>Delete</th><th>Completed</th><th>See in JSON</th>
        {% for todo in todos_paginated %}
            <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
                <td>
                    {% if todo.completed == 0 %}
                        <form method="post" action="{{ url_for('todo_completed', id=todo.id) }}">
                            <button type="submit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok glyphicon-white"></span></button>
                        </form>
                    {% else %}
                        Completed
                        <form method="post" action="{{ url_for('todo_completed', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-circle-arrow-left glyphicon-white"></span></button> Not Completed
                        </form>
                    {% endif %}
                </td>
                <td>
                        <form method="get" action="{{ url_for('todo_in_json', id=todo.id) }}">
                            <button type="submit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-circle-arrow-down glyphicon-white"></span></button>
                        </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
    {{ pagination.links }}
</div>
{% endblock %}